button {
	position: relative;

	padding: 5px;

  	font: inherit;
  	text-align: center;
  	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  	color: #ffffff;
  	vertical-align: middle;
  	text-transform: uppercase;

  	background-image: linear-gradient(#cc0630 0%, #8f0222 75%, #6d0019 100%);
  	border-radius: 15px;
  	border: none;
  	overflow: hidden;

  	box-shadow:
    	inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    	0 1px 3px #aaaaaa;
}

button:hover,
button:focus {
	box-shadow:
    	inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    	1px 3px 3px #555555;
}

@keyframes blick {
	0% {
		left: -30%;
	}
	70% {
		left: -30%;
	}
	100% {
		left: 120%;
	}
}

button::after {
	content: "";
	
	position: absolute;
	top: 0;	

	width: 20%;
	height: 100%;
	
	background-color: rgba(255, 255, 255, 0.3);	

	transform: skewX(40deg);

	animation: blick;
	animation-duration: 4s;	
	animation-iteration-count: infinite;
}