.header__contacts {
    display: block;
    margin: 10px;
    padding: 10px;

    background-color: white;
    
    font-size: 0.9vw;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    border: 2px solid red;
    border-radius: 10px;    
}

.header__contacts ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contacts {
    display: block;
    margin: 10px;
    padding: 10px;

    background-color: white;
    
    font-size: 0.9vw;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    border: 2px solid red;
    border-radius: 10px;    
}

.footer__contacts ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}