
.header__nav ul {    
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    
    
}

.header__nav li {
    border: 2px solid red;
    border-radius: 10px; 
}

.header__nav li:not(:last-child) {
    margin-right: 10px;
}

.header__nav a {
    display: block;
    padding :30px;
    
    font-size: 2vw;
    font-weight: bold; 
    text-transform: uppercase;
      
}