body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;  
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
 
a {
  color: black;
  text-decoration: none;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@keyframes scale2 {  
	100% {
    	transform: translateY(-1%);
    	box-shadow: 0 5px 5px 5px #555555;
  	}  
}